/* $Id: fix-ie.css,v 1.8.2.1 2008/02/05 09:27:26 goba Exp $ */

#sidebar div.icon img,
.image-page img,
#block-block-7 img,
#block img{
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "/sites/all/themes/zmags/img/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('"/*tpa=http://www.zmags.com/sites/all/themes/zmags/css/','').replace('*/)',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
#footer div.photo{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/photo.png', sizingMethod='crop');
}
#block ul.nav li a.activeSlide,
#block ul.nav li a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-nav.png', sizingMethod='crop');
}
#block ul.button li{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-button.png', sizingMethod='crop');
}
#block ul.button li.hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-button-hover.png', sizingMethod='crop');
}
#block ul.button li#demo.hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-button-small-hover.png', sizingMethod='crop');
}
#block ul.button li#demo{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-button-small.png', sizingMethod='crop');
}
#block div.bg-bottom{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-bottom-box.png', sizingMethod='crop');
}
#sidebar ul.button li{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-button-sidebar.png', sizingMethod='crop');
}
#main ul.category li.hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-category-hover.png', sizingMethod='crop');
}
#header #block-locale-0 ul,
#header ul.profile li ul{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-language.png', sizingMethod='crop');
}
#header div.menu ul li.active-trail ul li.first a,
#header div.menu ul li ul li.first a{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-drop-top.png', sizingMethod='crop');
}
#header div.menu ul li.active-trail ul li.last a,
#header div.menu ul li ul li.last a{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-drop-btm.png', sizingMethod='crop');
}
#header div.menu ul li.active-trail ul li a:hover, 
#header div.menu ul li ul li a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-drop-hover.png', sizingMethod='crop');
}
#header div.menu ul li.active-trail ul li.first a:hover,
#header div.menu ul li ul li.first a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-drop-top-hover.png', sizingMethod='crop');
}
#header div.menu ul li.active-trail ul li.last a:hover,
#header div.menu ul li ul li.last a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-drop-btm-hover.png', sizingMethod='crop');
}
#header div.menu ul li.active-trail ul li a,
#header div.menu ul li ul li a{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-drop.png', sizingMethod='scale');
}
#header #block-locale-0 ul li.first a:hover,
#header ul.profile li ul li.first a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-language-hover-top.png', sizingMethod='crop');
}
#header #block-locale-0 ul li.last a:hover,
#header ul.profile li ul li.last a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/bg-language-hover-btm.png', sizingMethod='crop');
}
#content .popup-head{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/popup-head.png', sizingMethod='crop');
}
#content .popup-area{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/popup-bg.png', sizingMethod='scale');
}
#content .popup-footer{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/zmags/img/popup-foot.png', sizingMethod='crop');
}