@charset "utf-8";
/*—————————其它所得—————————*/
.hand{cursor:pointer;}
.w49{width:49px;}
.w100{width:100px;}
.mgb18{margin-bottom:18px;}
.mgt18{margin-top:18px;}
.other_income{width:550px; float:left;}
.other_but_bd{
	width:188px;
	background-attachment: scroll;
	background-image: url(../images/bg-button.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 62px;
	*height: 52px!important;/*ie6 + ie7*/
	margin-left:55px;
	cursor:pointer;
}
.other_but_bd_hover{
	width:188px;
	background-attachment: scroll;
	background-image: url(../images/bg-button-hover.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 62px;
	*height: 52px!important;/*ie6 + ie7*/
	margin-left:55px;
	cursor:pointer;
}
.content-box-other {
	background:url("../images/bg-foot_m.jpg") no-repeat scroll 0 100% transparent;
	width:1010px;
	height:auto!important;
	/*height:350px;*/
	min-height:500px;
	_height:500px;
	_min-height:500px;
}
.minh850{height:auto!important;
        -moz-height:850x;
	     min-height:868px;
	     _height:868px;
		 *+min-height:868px;
	     _min-height:868px;}
/*—————————新定的—————————*/
.hui{color: #666666; text-decoration:none;}
.newbut{
	width:100px;
	background-attachment: scroll;
	background-image: url(../images/newcity.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 24px;
	*height: 24px!important;/*ie6 + ie7*/
	margin-left:10px;
	cursor:pointer;
}
.newbut_over{
	width:100px;
	background-attachment: scroll;
	background-image: url(../images/newcity_over.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 24px;
	*height: 24px!important;/*ie6 + ie7*/
	margin-left:10px;
	cursor:pointer;
}
.newcity_font {
color:#FFFFFF;
font-size:12px;
font-weight:bold;
padding-top:1px;
_padding-top:5px;
*+padding-top:3px;
text-align:center;
width:100px;
}
.new_save {
	background-attachment: scroll;
	background-image: url(../images/count.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 60px;
	height:24px;
	margin-top:5px;
	margin-left:20px;
	cursor:pointer;
}
.new_over {
	background-attachment: scroll;
	background-image: url(../images/count_over.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 60px;
	height:24px;
	margin-top:5px;
	margin-left:20px;
	cursor:pointer;
}
.f-l{float:left;}
.f-r{float:right;}
.new_head_s{color:#4D4D4D;font-size:12px;font-weight:bold;line-height:22px;margin:15px 0px 15px 20px;padding-bottom:1px;}
.w120{width:120px;}
.information{color:#4D4D4D;font-size:12px;font-weight:normal;line-height:22px;margin:15px 0 15px 20px;padding-bottom:1px;}
.information_b{margin:0 0 0 20px;}
.information_z{margin:0; _margin:45px 0 0 0; *+margin:45px 0 0 0;}
.chart_head{margin:0 auto; padding-top:20px; font-size:13px; font-weight:bold; color:#4D4D4D;}
.chart_head_s{margin:0 auto; font-size:12px;}
.chart_list{margin:0 auto; font-size:12px; padding-top:20px;}
.chart_list .left{float:left; margin-left:20px; display:inline;}
.chart_list .right{float:right; margin-right:25px;}
.work_tl{width:450px; float:left;}
.work_tri{float:left; margin-left:65px; margin-top:55px; width:150px;}
.work_trf{float:left; margin-left:30px; margin-top:5px; color:#4D4D4D; font-size:14px;}
.work_trf a{color:#4D4D4D;}
.work_trf a:hover{text-decoration:underline;}
.tax_form_checkbox{margin-top:25px; margin-bottom:0px; margin-left:10px; text-align:center;}
.biaotou{background:url("../images/blue.gif") no-repeat scroll 0 0 transparent;height:40px;list-style:none outside none;margin-left:20px;margin-top:10px;overflow:hidden;padding:0;}
.biaotou h1{float:left;font-size:15px;margin:0 0 0 -4px; color:#FFFFFF; font-weight:bold;padding:12px 61px 0 27px;}
.biaotou_font{float:left;font-size:15px;margin:0 0 0 -4px; color:#FFFFFF; font-weight:bold;padding:12px 61px 0 57px;}
.biaotou_font2{float:left;font-size:15px;margin:0 0 0 -4px; color:#FFFFFF; font-weight:bold;padding:0px 1px 0 57px; *+padding:12px 1px 0 57px;_padding:12px 1px 0 57px;}
.biaotou_font2 h2{float:left;font-size:15px;color:#FFFFFF; font-weight:bold; padding:1px 0 0 0px;}
.b_head_s{color:#4D4D4D;font-size:15px;font-weight:bold;line-height:22px;margin:15px 0px 15px 20px;padding-bottom:1px;}
.con_head_s{color:#4D4D4D;font-size:12px;line-height:22px;margin:15px 0px 15px 20px;padding-bottom:1px; clear:both;}
.con_list{float:left; width:200px; margin-left:5px;}
.con_tab{margin-left:0px; margin-top:15px; }
.top_bd{
		background:url("../images/form-item-small.gif") no-repeat scroll 100% 0 transparent;
		float:left;
		height:25px;
		margin:0;
		padding:5px 0 0 5px;
		width:120px;
		margin-top:13px;
		*margin-top:8px!important;/*ie6 + ie7*/
}
.top_bd_hover{
		background:url("../images/form-item-small_hover.gif") no-repeat scroll 100% 0 transparent;
		float:left;
		height:25px;
		margin:0;
		padding:5px 0 0 5px;
		width:120px;
		margin-top:13px;
		*margin-top:8px!important;/*ie6 + ie7*/
}
.input_bd{
		background:none repeat scroll 0 0 transparent;
		border:0 none;
		float:left;
		margin:0;
		outline:medium none;
		padding-left:5px;
		*padding-left:5px!important;/*ie6 + ie7*/
		_padding-left:0px!important;/*ie6*/
		width:120px;
}
.but_bd{
	width:158px;
	background-attachment: scroll;
	background-image: url(../images/bg-button.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 62px;
	*height: 52px!important;/*ie6 + ie7*/
	margin-left:10px;
	cursor:pointer;
}
.but_bd_hover{
	width:158px;
	background-attachment: scroll;
	background-image: url(../images/bg-button-hover.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 62px;
	*height: 52px!important;/*ie6 + ie7*/
	margin-left:10px;
	cursor:pointer;
}
.title_h{width:110px; float:left; margin-left:20px; color:#4C4C4C;font-size:16px; padding-top:5px; *padding-top:0px!important;/*ie6 + ie7*/ display:inline;  margin-top:13px;}
.but_font{width:158px; text-align:center; padding-top:20px; *padding-top:16px;/*ie6 + ie7*/  font-size:14px; color:#FFFFFF; font-weight:bold;}
.f_l{float:left;}
.detail_top3 {
    width:650px;
	margin-left:10px;
	height:130px;
	background-attachment: scroll;
	background-image: url(../images/block_top3.gif);
	background-repeat: no-repeat;
	background-position: center center;}
.detail_top{
	width:650px;
	margin-left:10px;
	height:60px;
	background-attachment: scroll;
	background-image: url(../images/block_top.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.detail_top1{
	width:680px;
	margin-left:18px;
	height:100px;
	background-attachment: scroll;
	background-image: url(../images/toppp.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.nota{cursor:not-allowed;}
.not_o{background-color:#FFFFFF;border:solid 1px #c4cccc;font-size:12px;padding:0px; height:20px; line-height:20px;}
.inputclass{background-color:#FFFFFF;border:solid 1px #c4cccc;font-size:12px;padding:0px; height:20px; line-height:20px;}
.inputclass:hover{border:1px solid #CCFF00;}

.inputclass:hover{border:1px solid #CCFF00;}
.selectclass{background-color:#FFFFFF;border:solid 1px #c4cccc;font-size:12px;padding:0px; height:20px; line-height:20px;}
.d_top_l{width:650px;}
.pad0{padding:0px;}
.plft5{padding-left:5px;}
.plft10{padding-left:10px;}
.plft15{padding-left:15px;}
.plft20{padding-left:20px;}
.plft25{padding-left:25px;}
.plft30{padding-left:33px;}
.plft35{padding-left:35px;}
.plft45{padding-left:45px;}
.ptop5{padding-top:5px;}
.ptop15{ padding-top:15px;}
.ptop18{ padding-top:18px;}
.ptop20{ padding-top:20px;}
.ptop33{ padding-top:33px;}
.top_l{width:130px; float:left; padding-top:5px; padding-bottom:5px; text-align:right;}
.top_r{width:150px; float:left; padding-top:5px; padding-bottom:5px;}
.c_list{float:left; padding-top:5px; padding-bottom:5px;}
.c_lr{
	float:left;
	width:320px;
	height:240px;
	background-attachment: scroll;
	background-image: url(../images/block_lr.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	display:inline;
}
.ptop10{padding-top:10px;}
.ptop20{padding-top:20px;}
.mglft10{margin-left: 10px;*margin-left: 10px!important;/*ie6 + ie7*/}
.mglft20{margin-left: 20px;*margin-left: 20px!important;/*ie6 + ie7*/}
.mgtop15{margin-top: 15px;*margin-top: 15px!important;/*ie6 + ie7*/}
.mgtop20{margin-top: 20px;*margin-top: 20px!important;/*ie6 + ie7*/}
.mgbot15{margin-bottom:15px;}
.mgbot20{margin-bottom:20px;}
.w60{width:60px;}
.w80{width:80px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w165{width:165px;}
.w170{width:170px;}
.w200{width:200px;}
.w310{width:320px;}
.w680{width:685px;}
.w690{width:685px; _width:697px;}
.detail-center{margin-top:20px;}
.right_wb{
	float:left;
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
}
.right_body{float:left; width:260px; margin-left:12px;*+margin-left:12px;/*ie7*/ _margin-left:0px;/*ie6*/ display:inline;}
.right_new_body{float:left; width:270px; margin-left:0px;*+margin-left:0px;/*ie7*/ _margin-left:0px!important;/*ie6*/ display:inline;}
.com_right_body{float:left; width:260px; margin-left:0px;*+margin-left:0px;/*ie7*/ _margin-left:0px;/*ie6*/ display:inline;}
.right_t {
	background-attachment: scroll;
	background-image: url(../images/right_t.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 60px;
	width: 260px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top:15px;
	margin-left:10px;
}
.right_t h3{padding-top:20px; margin:0px;}
.right_tt {
	background-attachment: scroll;
	background-image: url(../images/right_t.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 20px;
	width: 260px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top:15px;
	margin-left:10px;
}
.right_t_49 {
	background-attachment: scroll;
	background-image: url(../images/right_t.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 49px;
	width: 260px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top:15px;
	margin-left:10px;
}
.right_t_49 h3{padding-top:17px; margin:0px;}
.right_c {
	background-attachment: scroll;
	background-image: url(../images/right_c.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	height:auto!important;
	/*height:500px;*/
	min-height: 500px;
	width: 260px;
	margin-left:10px;
}
.right_c_img{padding-top:5px; padding-left:52px;}
.right_cc {
	background-attachment: scroll;
	background-image: url(../images/right_c.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	width: 260px;
	margin-left:10px;
}
.right_cc h2{line-height:20px; margin:0px;padding-top:0px; padding-bottom:0px; padding-left:20px; padding-right:20px; font-weight:normal; font-size:12px;}
.right_cc h2 a{color:#689a26; text-decoration:underline;}
.right_cc h2 a:hover{color:#82AB08; text-decoration:none;}
.right_b {
	background-attachment: scroll;
	background-image: url(../images/right_b.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	width: 260px;
	margin-left:10px;
}
.right_list{padding-top:5px; padding-bottom:5px; padding-left:20px; padding-right:20px; }
.c_foot{background:url("../images/bg-foot.jpg") no-repeat scroll 0 100% transparent;width:1010px;}
.detail_body{-webkit-border-radius:5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; border:1px solid #D2D2D2; margin-left:20px; padding-top:10px; padding-bottom:10px; margin-bottom:20px; width:670px;}
.ye-b{border:1px solid #CCFF00;}
.grey{color:#CCCCCC; cursor:not-allowed;}
/*—————————改版个人所得税计算器—————————*/
.left_body{-webkit-border-radius:5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; border:1px solid #D2D2D2; float:left; margin-left:16px; padding:10px 0px; margin-right:4px; display:inline; width:404px; margin-top:15px;}
.center_body{float:left; margin-left:0px; width:270px; display:inline;}
/*—————————改版个人所得税计算器—————————*/
/*—————————常见问题—————————*/
.common_que{-webkit-border-radius:5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px;border:1px solid #D2D2D2; width:680px; float:left; margin-top:15px; margin-left:15px; *+margin-left:15px;/*ie7*/ _margin-left:15px;/*ie6*/ display:inline;margin-bottom:15px;}
.common_que h2{color:#82AB08; font-weight:normal; font-size:13px; margin-left:15px; margin-right:0px; margin-top:0px; margin-bottom:0px; line-height:20px;}
.common_que h2 a{color:#82AB08; text-decoration:underline;}
.common_que h2 a:hover{color:#82AB08; text-decoration:none;}
.common_que h3{color:#82AB08; font-weight:bold; font-size:15px; margin-left:15px; margin-right:0px; margin-top:0px; margin-bottom:0px; line-height:20px;}
.common_que h3 a{color:#82AB08;}
.common_que h3 a:hover{color:#82AB08; text-decoration:none;}
.common_que h5{color:#82AB08; font-weight:normal; font-size:13px; margin-left:15px; line-height:5px;}
.common_que h5 a{color:#82AB08;}
.common_que h5 a:hover{color:#82AB08; text-decoration:underline;}
.common_que p{font-weight:normal; margin-left:15px; line-height:25px; margin-right:15px;}
.common_que ul.question {
	margin:12px 0 0;
	*margin:12px 0 0;/*ie6 + ie7*/
	padding:0;
	width:100%;
	overflow:hidden;
}
.common_que ul.question li {
	float:left;
	list-style:none;
	width:600px;
	margin:0 0 0 15px;
	padding:4px 0 4px 10px;
	display:inline;
	background:url("../images/que.jpg") no-repeat scroll 0 0 transparent
}
.common_que ul.question li.que {
	float:left;
	list-style:none;
	width:600px;
	margin:0 0 0 15px;
	padding:4px 0 4px 10px;
	display:inline;
	background:url("../images/que.jpg") no-repeat scroll 0 0 transparent
}
.common_que ul.question li.ans {
	float:left;
	list-style:none;
	width:600px;
	margin:0 0 0 15px;
	padding:4px 0 4px 10px;
	display:inline;
	background:url("../images/ans.jpg") no-repeat scroll 0 0 transparent
}
.big_h{font-size:20px; font-weight:bold; color:#00CC33;padding-right:5px;}
.red{font-size:18px; font-weight:bold; color:#CC3300; padding-right:5px;}
.FontBold{font-weight:bold;}
.common_que ul.question a {
	color:#666;
	float:left;
	padding:0 0 0 15px;

}
.common_que ul.question a:hover {
	color:#82AB08;
	text-decoration:none;

}
.common_que ul.question li.que a {
	float:left;
	color:#82AB08;
	padding:0 0 0 15px;

}
.common_que ul.question li.que a:hover {
	text-decoration:underline!important;
}
/*———————————————新newcommon———————————————*/
.que_head{color:#333333;font-size:40px;font-weight:bold;line-height:48px;margin-left:10px;margin-top:15px;}
.common_que_list{margin-left:15px; margin-top:10px; margin-right:10px;}
.common_que_list_head{color:#82AB08;}
.common_que_list_body{overflow:hidden}
.common_que_list_head a {color:#82AB08;}
.common_que_list_head a:hover {text-decoration:underline;}

/*———————————————关于———————————————*/
.about_list{margin-left:0px; margin-top:10px; margin-right:0px;}
.about_list h4{color:#666666;font-size:16px; font-weight:bold;line-height:0px;margin:0 0 15px 15px;padding-bottom:0px;padding-right:0px;}
.about_list h3{color:#666666;font-size:14px; font-weight:bold;line-height:0px;margin-top:0;padding-bottom:0px;padding-right:0px;}
.about_list p{color:#666666;font-size:13px;line-height:24px;margin-top:0;padding-bottom:5px;padding-right:0px;}
.about_list p.head{color:#666666;font-size:14px; font-weight:bold;line-height:24px;margin-top:0;padding-bottom:5px;padding-right:0px;}
.about_list p.small{color:#666666;font-size:12px; font-weight:normal;line-height:24px;margin-top:-20px;padding-bottom:5px;padding-right:0px;}
.mgrit10{float:left;margin-right:10px; cursor:pointer;}
.mgbot10{margin-bottom:50px;margin-top:-10px!important; *+margin-top:-20px!important; _margin-top:-20px!important;}
/*———————————————出错了！———————————————*/
.error_left{margin-top:15px; margin-left:10px; float:left;}
.error_right{float:left; margin-left:10px; margin-top:15px;width: 500px;}
.error_right .head{color:#333333;font-size:40px;font-weight:bold;line-height:48px;margin-left:10px;margin-top:15px;}
.error_right p{color:#666666;font-size:14px;line-height:24px; margin-left:10px; margin-top:20;padding-bottom:5px;padding-right:15px;}
.error_right p.mg{color:#666666;font-size:14px;line-height:24px; margin-left:10px; margin-top:-10px;padding-bottom:5px;padding-right:15px;}
.min_605{
    height:auto!important;
	height:605px;
	min-height:605px;
	}
.min_350{
    height:auto!important;
	height:605px;
	min-height:605px;
	}
/*———————————————分享———————————————*/
.breadcrumb-share {
	width:100%;
	font-size:12px;
	line-height:18px;
	color:#999;
	overflow:visible;
	padding-top:5px;
	/*padding-bottom:0px;*/
}
.share_lb{float:left; height:30px; width:21px; margin-left:24px;_display:inline; background:url("../images/s_l.gif") no-repeat 0 0;}
.share_rb{float:left; height:29px; width:21px; _display:inline; margin-top:1px; background:url("../images/s_r.gif") no-repeat 0 0;}
.share_left{float:left;_display:inline; background:url("../images/s_c.gif") repeat-x 0 0; height:30px;}

.share_left_list{float:left; margin-left:3px; margin-right:10px; padding-top:8px;}
.share_font{float:left; font-weight:normal; padding-right:5px; padding-top:8px; color:#4D4D4D}
.left_ll{float:left;cursor:pointer;}
.share_photo{float:left; padding-right:5px; _padding-right:2px;/*ie6 + ie7*/}
.left_lr{float:left; color:#4D4D4D}
.left_lr a {color:#4D4D4D}
.left_lr a:hover {text-decoration:underline;}
.share_left_links{float:left;/*width:700px;height:30px;*/padding:8px 0 0 3px;}

.share_bot{width:100%;font-size:12px;line-height:18px;color:#999;overflow:hidden;}
.share_bot_body{background-color:#fbfbfb; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;border-top:1px solid #dbdbdb; height:50px; padding:10px 10px 10px 10px; width:350px;position:absolute; z-index:1500; _left:0px; *+left:0px; top:18px; _top:18px; *+top:18px;}
.share_bot_head{font-weight:normal; font-size:12px; color:#4D4D4D;}
.share_bot_inp{margin:0; padding:8px 0 0 0;}
.w345{width:345px; padding-left:5px;}
.bnt{background:none repeat scroll 0 0 #63C5C8;
border-color:#82D0D4 #4D989B #54A3A7 #92D6D9;
border-style:solid;
border-width:1px;
color:#FFFFFF;
cursor:pointer;
letter-spacing:0.1em;
padding:3px 1em;
}

/*—————————原有的—————————*/

form {
	margin:0;
	padding:0;
}
hr {
	height:1px;
	border:1px solid gray;
}
img {
	border:0;
}

.clear-block:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear-block {
	display:inline-block;
}/* Hides from IE-mac \*/
* html .clear-block {
	height:1%;
}
.clear-block {
	display:block;
}

ul.menu {
	list-style:none;
	border:none;
	text-align:left;
}
ul.menu li {
	margin:0 0 0 0.5em;
}
li.expanded {
	list-style-type:circle;
	list-style-image:url("../../../../misc/menu-expanded.png");
	padding:0.2em 0.5em 0 0;
	margin:0;
}
li.collapsed {
	list-style-type:disc;
	list-style-image:url("../../../../misc/menu-collapsed.png");
	padding:0.2em 0.5em 0 0;
	margin:0;
}
li.leaf {
	list-style-type:square;
	list-style-image:url("../../../../misc/menu-leaf.png");
	padding:0.2em 0.5em 0 0;
	margin:0;
}
li a.active {
	color:#000;
}
td.menu-disabled {
	background:#ccc;
}
ul.links {
	margin:0;
	padding:0;
}
ul.links.inline {
	display:inline;
}
ul.links li {
	display:inline;
	list-style-type:none;
	padding:0 0.5em;
}
.block ul {
	margin:0;
	padding:0 0 0.25em 1em;
}
/*--------------主题---------------*/
.log-right{float:right; height:30px;margin-top:35px;overflow:hidden; width:96px;}
body {
	margin:0;
	font:12px/18px 微软雅黑, Arial, Helvetica, sans-serif;
	color:#666;
	position:relative;
	background:#f7f7f7;
	padding-bottom:10px;
}
form, fieldset {
	margin:0;
	padding:0;
	border:0;
}
a {
	color:#82ab08;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
* {
	outline:none;
}
a:active {
	outline:none;
}
a:focus {
	-moz-outline-style:none;
}
img {
	display:block;
	border:0;
}
#page {
	margin:0 auto;
	width:980px;
	padding:0 16px;
	overflow:hidden;
}
#header {
	width:100%;
	position:relative;
	z-index:1500;
	overflow:visible;
	height:127px;
}
#logo-floater {
	float:left;
	width:685px;
	overflow:hidden;
	height:61px;
	margin-top:15px
}
/*h1{float:left; width:400px; overflow:hidden; height:61px; margin-top:0px; font-size:15px;}*/
/*#header h1 {
	margin:0;
	font-size:0;
	line-height:0;
}*/
#header #logo-floater a {
	float:left;
	width:685px;
	margin:0 0 0 0;
	text-indent:-9999px;
	overflow:hidden;
	height:61px;
	background:url("../images/logo_2013.jpg") no-repeat 0 0;
}
#header #block-locale-0 {
	float:right;
	margin:24px 0 0 0;
	background:url("../images/bg-profile.gif") no-repeat 0 0;
	position:relative;
}
#header #block-locale-0.hover {
	background:url("../images/bg-profile.gif") no-repeat 0 -66px;
}
#header #block-locale-0 h2 {
	float:left;
	display:block;
	font-size:12px;
	font-weight:normal;
	color:#666;
	margin:0;
	padding:0 30px 0 10px;
	background:url("../images/bg-profile.gif") no-repeat 100% -44px;
	line-height:22px;
	width:67px;
}
#header #block-locale-0.hover h2 {
	background:url("../images/bg-profile.gif") no-repeat 100% 100%;
}
#header ul.profile {
	float:right;
	position:absolute;
	top:0px;
	right:110px;
	margin:24px 0 0;
	padding:0;
}
#header ul.profile li {
	list-style:none;
	float:right;
	position:relative;
	line-height:22px;
	padding-bottom:2px;
	font-size:12px;
	background:url("../images/bg-profile.gif") no-repeat 0 0;
	margin:0 0 0 10px;
}
#header ul.profile li.hover {
	background:url("../images/bg-profile.gif") no-repeat 0 -66px;
}
#header ul.profile li a {
	float:left;
	color:#666;
	padding:0 30px 0 10px;
	background:url("../images/bg-profile.gif") no-repeat 100% -22px;
	text-decoration:none;
}
#header ul.profile li.hover a {
	background:url("../images/bg-profile.gif") no-repeat 100% -88px;
}
#header ul.profile li a.language {
	background:url("../images/bg-profile.gif") no-repeat 100% -44px;
}
#header ul.profile li.hover a.language {
	background:url("../images/bg-profile.gif") no-repeat 100% 100%;
}
#header ul.profile li ul {
	margin:0;
	padding:7px 7px 8px 7px;
	width:150px;
	top:20px;
	list-style:none;
	right:-7px;
	display:none;
	overflow:hidden;
	height:180px;
	background:url("../images/bg-language.png") no-repeat 0 0;
	position:absolute;
}
#header #block-locale-0 div.content {
	width:164px;
	overflow:hidden;
	top:20px;
	right:-7px;
	display:none;
	position:absolute;
}
#header #block-locale-0 ul {
	margin:0;
	background:url("../images/bg-language.png") no-repeat 0 0;
	padding:7px 7px 8px 7px;
	width:150px;
	list-style:none;
	overflow:hidden;
}
#header #block-locale-0.hover div.content, #header ul.profile li.hover ul {
	display:block;
}
#header #block-locale-0 ul li, #header ul.profile li ul li {
	line-height:30px;
	background:none;
	position:relative;
	float:left;
	font-size:12px;
	margin:0;
	padding:0;
}
#header #block-locale-0 ul li a, #header ul.profile li.hover ul li a, #header ul.profile li ul li a {
	float:left;
	background:none;
	width:130px;
	padding:0 0 0 20px;
	cursor:pointer;
	color:#666;
}
#header #block-locale-0 ul li a:hover, #header ul.profile li ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:url("../images/bg-language-hover.gif") no-repeat 0 0;
}
#header #block-locale-0 ul li.first a:hover, #header ul.profile li ul li.first a:hover {
	background:url("../images/bg-language-hover-top.png") no-repeat 0 0 !important;
	background:none;
	background:url("../images/bg-language-hover-btm.png") no-repeat 0 0;
}
#header #block-locale-0 ul li.last a:hover, #header ul.profile li ul li.last a:hover {
	background:url("../images/bg-language-hover-btm.png") no-repeat 0 0;
}
#header ul.profile li ul li a {
	background:none;
}
#header div.block, #header div.content {
	display:inline;
}
#header div.block h2 {
	display:none;
}
#header #block-menu-menu-site ul, #header ul.site {
	margin:23px 0 0 0;
	position:relative;
	display:inline;
	padding:0;
	float:right;
	overflow:hidden;
}
#header #block-menu-menu-site ul li, #header ul.site li {
	list-style:none;
	float:left;
	font-size:12px;
	line-height:22px;
	padding:0 12px;
	margin-left:-2px;
	background:url("../images/bg-site.gif") no-repeat 0 50%;
}
#header #block-menu-menu-site ul li a, #header ul.site li a {
	color:#82ab08;
}
#header div.menu {
	width:100%;
	float:left;
	margin:15px 0 0;
	height:41px;
	background:url("../images/bg-menu.gif") no-repeat 0 0;
	padding:0 0 17px 0;
}
#header div.menu ul {
	margin:0;
	padding:0;
	float:left;
}
#header div.menu ul li {
	list-style:none;
	float:left;
	background:url("../images/bg-menu-list.gif") no-repeat 0 50%;
	font-size:15px;
	margin-left:-2px;
	padding:0 0 3px 0;
	line-height:41px;
}
#header div.menu ul li.first {
	background:none;
}
#header div.menu ul li a {
	float:left;
	padding:0 16px;
	color:#E7EEE6;
	text-decoration:none;
	font-weight:bold;
}
#header div.menu ul li.active-trail a, #header div.menu ul li a.active, #header div.menu ul li a:hover {
	background:url("../images/bg-menu-active.gif") repeat-x 0 0;
	position:relative;
	z-index:1000;
}
#header div.menu ul li.current{background:url("../images/bg-menu-active.gif") repeat-x 0 0;position:relative;z-index:1000;}
#header div.menu ul li.first a:hover, #header div.menu ul li.first a.active {
	background:url("../images/bg-menu-active-first.gif") no-repeat 2px 0;
}
#header div.menu ul li.first.current{background:url("../images/bg-menu-active-first.gif") no-repeat 2px 0;}
#header div.menu ul li ul {
	position:absolute;
	display:none;
	top:42px;
	width:229px;
	left:-6px;
}
#header div.menu ul li.hover {
	position:relative;
}
#header div.menu ul li.hover ul {
	display:block;
}
#header div.menu ul li.hover ul ul {
	display:none;
}
#header div.menu ul li.active-trail ul li, #header div.menu ul li ul li {
	width:100%;
	padding:0;
	margin:0;
	line-height:30px;
	background:none;
}
#header div.menu ul li.active-trail ul li.first a, #header div.menu ul li ul li.first a {
	padding-top:7px;
	background:url("../images/bg-drop-top.png") no-repeat 0 0;
}
#header div.menu ul li.active-trail ul li.last a, #header div.menu ul li ul li.last a {
	padding-bottom:8px;
	background:url("../images/bg-drop-btm.png") no-repeat 0 0;
}
#header div.menu ul li.active-trail ul li a:hover, #header div.menu ul li ul li a:hover {
	background:url("../images/bg-drop-hover.png") no-repeat 0 0;
}
#header div.menu ul li.active-trail ul li.first a:hover, #header div.menu ul li ul li.first a:hover {
	background:url("../images/bg-drop-top-hover.png") no-repeat 0 0;
}
#header div.menu ul li.active-trail ul li.last a:hover, #header div.menu ul li ul li.last a:hover {
	background:url("../images/bg-drop-btm-hover.png") no-repeat 0 0;
}
#header div.menu ul li.active-trail ul li a, #header div.menu ul li ul li a {
	padding:0 7px 0 27px;
	width:195px;
	cursor:pointer;
	background:url("../images/bg-drop.png") repeat-y;
	float:left;
	margin:0;
}
#header div.search {
	float:right;
	display:inline;
	background:url("../images/bg-search.gif") no-repeat 0 0;
	width:228px;
	margin:5px 8px 0 0;
	height:29px;
}
#header div.search label {
	display:none;
}
#header div.search input.form-text {
	float:left;
	width:140px;
	height:16px;
	border:0;
	padding:2px 10px;
	margin:5px 0 0;
	background:none;
	font:12px Helvetica, Arial, sans-serif;
	color:#808080;
}
#header div.search input.form-submit {
	float:right;
	width:15px;
	border:0;
	font-size:0;
	line-height:0;
	background:none;
	text-indent:-9999px;
	cursor:pointer;
	overflow:hidden;
	margin:8px 7px 0 0;
	height:17px;
}
#main {
	width:100%;
	overflow:hidden;
	padding:0 16px;
	margin:0px -16px;
	*+margin:25px -16px;
	_margin:0px -16px;
	float:left;
	display:inline;
	position:relative;
	z-index:1000;
}
#main div.main-body {
	padding:0 16px;
	margin:0 -16px;
	overflow:hidden;
	width:100%;
}
#block {
	width:100%;
	margin:5px -16px 0 -16px;
	height:319px;
	padding:4px 16px 16px 16px;
	background:url("../images/bg-block.jpg") no-repeat 0 0;
}
#block ul.nav {
	float:left;
	width:232px;
	padding:10px 0 17px 25px;
	margin:48px 0 0;
}
#block ul.nav li {
	list-style:none;
	width:100%;
	margin:-10px 0 -17px;
}
#block ul.nav li.hidden {
	visibility:hidden;
}
#block ul.nav li a {
	height:37px;
	width:199px;
	font-size:20px;
	line-height:37px;
	cursor:pointer;
	color:#4c4c4c;
	outline:none;
	text-decoration:none;
	padding:8px 10px 14px 23px;
	display:block;
}
#block ul.nav li a.activeSlide, #block ul.nav li a:hover {
	background:url("../images/bg-nav.png") no-repeat 0 0;
	color:#fff;
	padding-right:48px;
	width:161px;
	text-align:right;
}
#main div.ui-tabs-hide {
	display:none;
}
#block div.box-body {
	float:left;
	width:293px;
	position:relative;
	padding:0 0 0 25px;
	margin:-6px 0 0 0;
}
#block div.box {
	width:100%;
	display:none;
	overflow:hidden;
	background:none !important;
}
#block div.flash {
	float:right;
	width:380px;
	margin:-10px -21px 0 -30px;
	height:330px;
}
#block div.text {
	float:left;
	width:300px;
	position:relative;
	margin:60px 0 0;
	height:211px;
	margin-right:-20px;
	padding:0 20px 0 0;
}
#block h1 {
	margin:10px 0 0 16px;
}
#block p {
	font-size:16px;
	color:#333;
	line-height:22px;
	font-weight:bold;
	margin:10px 0 0 16px;
}



#main div.bottom-box {
	width:100%;
	font-size:12px;
	line-height:18px;
	margin:18px 0 0;
	overflow:hidden;
}
#main div.bottom-box h2 {
	font-size:20px;
	color:#808080;
	line-height:24px;
	margin:10px 0 0;
}
#main div#block-menu-menu-shortcuts, #main div.shortcuts {
	float:left;
	width:735px;
	padding-left:10px;
}
#main div#block-menu-menu-shortcuts ul.menu, #main div.shortcuts ul.items {
	margin:12px 0 0;
	padding:0;
	width:100%;
	overflow:hidden;
}
#main div#block-menu-menu-shortcuts ul.menu li, #main div.shortcuts ul.items li {
	float:left;
	list-style:none;
	width:245px;
	margin:0;
	padding:4px 0;
}
#main div#block-menu-menu-shortcuts ul.menu li a, #main div.shortcuts ul.items a {
	color:#666;
	float:left;
	padding:0 0 0 15px;
	background:url("../images/bg-items.gif") no-repeat 0 0;
}
#main div#block-menu-menu-shortcuts ul.menu li a:hover, #main div.shortcuts ul.items a:hover {
	color:#82AB08;
	text-decoration:none;
	background:url("../images/bg-items.gif") no-repeat 0 -16px;
}
#main #block-block-2, #main div.office {
	float:left;
	width:243px;
}
#main ul.office {
	width:100%;
	overflow:hidden;
	margin:18px 0 0;
	padding:0;
}
#main ul.office li {
	float:left;
	line-height:25px;
	list-style:none;
	margin:0 5px 0 0;
}
#main ul.office li a {
	width:26px;
	text-align:center;
	color:#fff;
	font-size:12px;
	display:block;
	background:url("../images/bg-office-tabs.gif") no-repeat 0 0;
}
#main ul.office li a.activeSlide, #main ul.office li a:hover {
	text-decoration:none;
	background:url("../images/bg-office-tabs.gif") no-repeat 0 -25px;
}
#main ul.office ul li.other {
	padding-left:5px;
}
#main ul.office li.other a {
	display:inline;
	width:auto;
	color:#82ab08;
	background:none !important;
}
#main ul.office ul li.other a:hover {
	text-decoration:underline;
}
#main #block-block-2 p {
	margin:12px 0 0;
}
#main #block-block-3, #main div.partners {
	float:right;
	width:200px;
}
#main ul.partners {
	margin:18px 0 0;
	width:100%;
	padding:0;
	overflow:hidden;
}
#main ul.partners li {
	float:left;
	margin:0 4px 0 0;
	list-style:none;
}
#main ul.partners li a {
	width:27px;
	height:25px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url("../images/ico-partners.gif") no-repeat 0 0;
}
#main ul.partners li a.facebook {
	background-position:0 0;
}
#main ul.partners li a.in {
	background-position:-31px 0;
}
#main ul.partners li a.twitter {
	background-position:-62px 0;
}
#main ul.partners li a.facebook:hover {
	background-position:0 -25px;
}
#main ul.partners li a.in:hover {
	background-position:-31px -25px;
}
#main ul.partners li a.twitter:hover {
	background-position:-62px -25px;
}
#footer {
	width:100%;
	overflow:hidden;
	border-top:1px solid #ccc;
	float:left;
	margin:32px 0 0;
	font-size:14px;
	text-align:left;
	padding:20px 0 0;
	line-height:20px;
}
#footer a {
	color:#82AB08;
}
#footer h2 {
	display:none;
}
#footer div {
	display:inline;
}
#footer ul {
	display:inline;
	padding:0;
}
#footer ul li {
	display:inline;
	margin:0;
	font-size:12px;
	padding:0 5px 0 7px;
	background:url("../images/bg-footer-list.gif") no-repeat 0 50%;
}
#footer ul li.first {
	background:none;
}

#main div.breadcrumb-holder a {
	color:#999;
}
#main div.breadcrumb-holder span {
	float:left;
	line-height:20px;
	padding:0 5px 0 20px;
}
#main div.breadcrumb-holder span.phone, #main div.breadcrumb-holder div.phone {
	float:right;
	padding-right:20px;
}
#main div.breadcrumb-holder ul {
	float:left;
	line-height:20px;
	overflow:hidden;
	margin:0 0 0 -9px;
	display:inline;
	padding:0;
	list-style:none;
}
#main div.breadcrumb-holder ul li {
	float:left;
	background:url("../images/bg-breadcrumb.gif") no-repeat 0 50%;
	margin-left:-5px;
	padding:0 15px;
}
#container {
	width:746px;
	margin-right:-16px;
	display:inline;
	position:relative;
	padding-right:16px;
	background:url("../images/bg-container-body.gif") repeat-y 0 0;
	float:right;
}
#container div.image-page {
	position:absolute;
	top:4px;
	right:16px;
	z-index:1;
}
#content div.node-content {
	position:relative;
	z-index:2;
}
#container div.container-top, #container div.container-bottom {
	width:100%;
	overflow:hidden;
	padding:83px 0 100px;
	background:url("../images/bg-container-btm.gif") no-repeat 0 100%;
}
#container div.container-top {
	margin-right:-16px;
	padding:0 16px 0 0;
	background:url("../images/bg-container-top.gif") no-repeat 0 0;
}
#content {
	float:left;
	width:690px;
	padding:28px 16px 0 40px;
}
#content div.left-content {
	width:446px;
	float:left;
}
/*#content-box h1, #content h1 {
	font-size:40px;
	position:relative;
	z-index:100;
	font-weight:bold;
	line-height:48px;
	margin:0px 0 0;
	color:#333;
}*/
#tabs-wrapper {
	position:relative;
	z-index:100;
}
/*#content-box h2, #content h2 {
	font-size:15px;
	font-weight:bold;
	line-height:22px;
	margin:15px 0 15px;
	padding-bottom:1px;
	color:#4d4d4d;
}*/
/*#content-box h3, #content h3 {
	font-size:13px;
	line-height:18px;
	margin:17px 0 0;
	padding-bottom:2px;
	color:#000;
}
#content-box p, #content p {
	margin:6px 0 0;
	padding-bottom:9px;
}*/
#content-box p.slogan, #content p.slogan {
	font-size:17px;
	font-weight:bold;
	line-height:24px;
	padding-right:15px;
	margin-top:0px;
	padding-bottom:19px;
	color:#666;
}
#content-box ul.list, #content ul.list {
	margin:-1px 0 0;
	overflow:hidden;
	font-size:12px;
	width:100%;
	padding:0;
}
#content-box ul.list li, #content ul.list li {
	list-style:none;
	padding:0 0 8px 30px;
	background:url("../images/bg-list.gif") no-repeat 0 5px;
}
#content-box ul.list li.check, #content ul.list li.check {
	background:url("../images/bg-list-check.gif") no-repeat 0 5px;
}

.content-product {
	padding:16px;
	position:relative;
}
.content-box-area {
	overflow:hidden;
}

form, fieldset, {
border:none;
margin:0;
padding:0;
background:none;
}
#header div.menu ul.menu {
	width:720px!important;
}
#main div.main-body {
	padding:1px 16px;
}
.content-box-holder {
	overflow:hidden;
	margin:0px 0 0 -16px;
	*+margin:0px 0 0 -16px;
	_margin:0px 0 0 -16px;
	width:1010px;
	background:url("../images/bg-main.gif") repeat-y;
}
#content-box {
	padding:0;
	width:100%;
	background:url("../images/bg-head.gif") no-repeat;
}
.content-box-area {
	background:url("../images/bg-foot.jpg") no-repeat 0 100%;
	width:1010px;
	height:auto!important;
	/*height:1000px;
	_height:1200px;/*ie6*/
	min-height:1000px;
	_min-height:1200px;/*ie6*/
}
.min_1300{height:auto!important;
	/*height:2000px;*/
	min-height:1200px;
	}

.content-box-error {
	background:url("../images/bg-foot_m.jpg") no-repeat 0 100%;
	width:1010px;
	height:auto!important;
	height:500px;
	min-height:500px;
}
#main div.content-box-text {
	padding:20px 40px;
	width:930px;
	overflow:hidden;
}
#main .bottom-box ul li.first {
	background:none;
}

.form-item-100 {
	float:left;
	padding:5px 0 0 5px;
	margin:0;
	background:url("../images/form-item-small.gif") no-repeat 100% 0;
	width:125px;
	height:25px;
}
.jis {
	background-attachment: scroll;
	background-image: url(../images/count.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 60px;
	height:24px;
	margin-top:5px;
	margin-left:65px;
	cursor:pointer;
}
.jis_over {
	background-attachment: scroll;
	background-image: url(../images/count_over.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 60px;
	height:24px;
	margin-top:5px;
	margin-left:65px;
	cursor:pointer;
}
.jis-font{color:#FFFFFF; font-size:13px; font-weight:bold; padding-top:3px; padding-left:15px;}
.select_city{width:110px;color:#4C4C4C;display:inline;float:left;font-size:16px;margin-left:20px;padding-top:18px;}
.select_city_105{width:115px;color:#4C4C4C;display:inline;float:left;font-size:16px;margin-left:20px;padding-top:5px;}
.select_city_120{width:120px;color:#4C4C4C;display:inline;float:left;font-size:16px;margin-left:20px;padding-top:5px;}
/*-----------------mengban------------------*/
#DivShim
{
	position:absolute;
	top:0px;
	left:0px;	
	display:none;
	z-index:1600;
	background-color:#fff;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.6!important;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50,finishOpacity=100,style=0);
}
.divMengban
{
	position:absolute;
	background-color:White;
	display:none;
}
#mengban
{	
	position:absolute;
	top:0px;
	left:0px;	
	display:none;
	z-index:1599;
	background-color:#fff;
	filter:alpha(opacity=50);
	opacity: 0.5;
	opacity:0.6!important;
	-moz-opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50,finishOpacity=100,style=0);
}
.orange{color:#FF9900;}
.meng_k{width:300px;background:none repeat scroll 0 0 #ffffff;border:1px solid #D2D2D2;}
.meng_k550{width:530px;background:none repeat scroll 0 0 #ffffff;border:1px solid #D2D2D2;}
.meng_h{height:25px; line-height:25px; padding:0px 10px;}
.loader_25 {
padding-bottom:25px;
padding-top:25px;
padding-left:130px;
*padding-left:0px;/*ie6 + ie7*/
}
.meng_bc{margin:10px auto; text-align:center;}
.button-margin2{margin:15px auto; text-align:center!important;}
.w320{width:320px;}
/*快速计算*/
.fast_wb{float:left; margin-left:0px; padding-left:4px; margin-top:15px;}
.fast_t {
	background-attachment: scroll;
	background-image: url(../images/right_t.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 60px;
	width: 252px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top:15px;
	margin-left:0px;
}
.fast_cc {
	background-attachment: scroll;
	/*background-image: url(../images/right_c.jpg);*/
	background-repeat: repeat-y;
	background-position: center center;
	width: 252px;
	margin-left:0px;
}
.fast_list{float:left; line-height:30px; width:242px;}
.fast_list_bot{float:left; line-height:25px; width:232px; padding:10px 0px 0px 0px;}
.fast_list_l{float:left; width:70px; padding-left:0px;}
.fast_list_r{float:left; width:100px; margin-top:5px;}
.fast_b {
	background-attachment: scroll;
	background-image: url(../images/right_b.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	width: 252px;
	margin-left:0px;
}
.fast_button {
	background-attachment: scroll;
	background-image: url(../images/count.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 60px;
	height:24px;
	margin-top:-1px;
	*+margin-top:-1px;
	_margin-top:-3px;
	cursor:pointer;
}
.fast_button_over {
	background-attachment: scroll;
	background-image: url(../images/count_over.gif);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 60px;
	height:24px;
	margin-top:-1px;
	*+margin-top:-1px;
	_margin-top:-3px;
	cursor:pointer;
}
.fast_button-font{color:#FFFFFF; font-size:13px; font-weight:bold; margin-top:-3px; *+margin-top:-2px; _margin-top:0px; padding-top:0px; height:24px; padding-left:15px;}
padding{padding:0px;}

.loading{width:240px; height:170px; background:none repeat scroll 0 0 #ffffff;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.6!important;opacity:0.5;}
.loader_95 {
padding-bottom:25px;
padding-top:25px;
padding-left:95px;
*padding-left:0px;/*ie6 + ie7*/
}
/*快速计算*/
/*城市选取*/
.com_input{color:#777;}
.com_results{padding:3px;margin:0;z-index:99999;font-size:12px;border:#aaa solid 1px;background:#FFF;}
.com_results ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0;}
.com_results li{margin:0;padding:4px 5px 0 5px;height:20px;cursor:pointer;display:block;font-size:12px;line-height:18px;overflow:hidden;text-align:right;}
.ac_results li{text-align:left;height:auto;overflow:auto;}
.com_results li span{float:left;margin:0;padding:0;text-align:left;}
.com_results .ac_title{border-width:0;border-bottom:dotted 1px #3c3c3c;line-height:20px;margin-bottom:2px;word-wrap:break-word;}
.com_results .ac_odd{background-color:#fff;}
.com_results .ac_over{background-color:#316AC5;color:#82AB08;}
.com_hotresults{padding:0;margin:0;z-index:99998;text-align:center;font-size:12px;border:#aaa solid 1px;position:relative;background:#FFF;}
.com_hotresults ul{padding:0;margin:0;list-style-position:outside;list-style:none;z-index:100;}
.com_hotresults li{padding:2px 0 0 0;margin:0;height:25px;line-height:25px;float:left;cursor:pointer;display:block;width:72px;font-size:12px;overflow:hidden;text-align:center;vertical-align:middle;}
.com_hotresults li a{color:#4D4D4D;}
.com_hotresults li a:hover{color:#82AB08;font-weight:bolder;background-color:#FFF;}

.com_hotresults .ac_odd{background-color:#fff;}
.com_hotresults .ac_over{color:#82AB08;font-weight:bolder;background-color:#FFF;}
.com_hotresults .ac_out{color:#4D4D4D;background-color:#FFF;}
.com_hotresults .ac_title{margin:0px 0px 3px 0px; *margin:-6px 0px 3px 0px;/*ie6 + ie7*/border-width:0;border-bottom:dotted 1px #ddd;padding:6px 0 5px 5px;*padding:6px 0 0px 5px;/*ie6 + ie7*/text-align:left;background-color:#E8F0F6;position:relative;z-index:100;}
.com_hotresults_en{padding:1px;margin:0;z-index:99998;text-align:center;border:#aaa solid 1px;position:relative;background:#FFF;}
.com_hotresults_en ul{padding:0;margin:0 0 5px 0;list-style-position:outside;list-style:none;}
.com_hotresults_en li{padding:2px 0 0 0;margin:0;height:25px;line-height:25px;float:left;cursor:pointer;display:block;width:75px;font-size:12px;overflow:hidden;text-align:center;vertical-align:middle;}
.com_hotresults_en .ac_odd{background-color:#fff;}
.com_hotresults_en .ac_over{color:#316AC5;font-weight:bolder;background-color:#FFF;}
.com_hotresults_en .ac_title{margin:0;margin-bottom:3px;border-width:0;border-bottom:dotted 1px #ddd;padding:6px 0 5px 5px;text-align:left;background-color:#E8F0F6;position:relative;z-index:100;}
.com_loading{background:white url(../pic/indicator.gif) right center no-repeat;}
.com_error{background-color:#FFF;position:absolute;z-index:99998;border:#aaa solid 1px;}
.com_error ul{list-style-position:outside;position:relative;list-style:none;padding:2px;margin:0;z-index:99999;}
.com_error li{background-color:#B00;color:#FFF;margin:0;padding:6px 5px 0 5px;_height:20px;min-height:20px;cursor:pointer;display:block;font-size:12px;line-height:16px;word-wrap:break-word;}
.AbcSearch{margin-left:5px!important;margin-top:5px!important;border-bottom:#D7D7D7 solid 1px;}
.AbcSearch li{width:auto;padding:0 9px;color:#4D4D4D;}
.AbcSearch .action{border:#d7d7d7 1px solid;font-weight:bold;color:#4D4D4D;border-bottom:#fff 1px solid;margin-bottom:-1px;position:relative;}
.AbcSearch .action_out{color:#4D4D4D;border-bottom:#fff 1px solid;margin-bottom:-1px;position:relative;}
.AbcSearch_en{margin-left:5px!important;margin-top:5px!important;border-bottom:#D7D7D7 solid 1px;}
.AbcSearch_en li{width:auto;padding:0 10px;color:#00206f;}
.AbcSearch_en .action{border:#d7d7d7 1px solid;border-bottom:#fff 1px solid;font-weight:bold;color:#131313;margin-bottom:-1px;position:relative;}
a.com_close{text-indent:-9999em;display:block;width:11px;font:1px/1px arial;height:11px;background:url(../pic/com_bg.png) no-repeat 0 -99px;}
a.com_close:hover{background-position:0 -116px;}
#com_404,#com_A404{margin:0 auto;width:960px;padding-top:50px;background:url(../pic/404-1.gif);}
#com_404 .mistake{width:582px;height:275px;margin:0 auto;padding:150px 20px 0 20px;background:url(../pic/404-2.gif) no-repeat;}
#com_A404 .mistake{width:400px;height:275px;margin:0 auto;padding:150px 20px 0 20px;}
.com_widget{font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:1.1em;}
.com_widget input,.com_widget select,.com_widget textarea,.com_widget button{font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:1em;}.com_widget-content{border:1px solid #a6c9e2;background:#fcfdfd;color:#222;}
.com_widget-content a{color:#222;}.com_corner-all{-moz-border-radius:5px;-webkit-border-radius:5px;}
.com_widget-header{border:1px solid #4297d7;background:#5c9ccc url(../pic/com_bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;color:#fff;font-weight:bold;}.
com_widget-header a{color:#fff;}
.com_helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.com_helper-clearfix{display:inline-block;}
.com_body{position: absolute; z-index: 2000; top: 167px; *+top:161px; _top:161px; left: 150px; _left:-826px;}
.clx{*zoom:1;}
.clx:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
/*城市选取*/
